body {
  font-family: "Poppins", sans-serif;
  max-width: 600px;
  margin: auto;
  color: black;
  background-color: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
}
.container {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  position: relative;
  top: 85px;
  width: 100%;
  border-radius: 5px;
}

h1 {
  text-align: center;
}
.logo {
  margin-left: 160px;
}
.input_field {
  margin-top: 30px;
}

.input_field > input {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px black solid;
  color: none;
  background: transparent;
  padding-left: 20px;
}
.checkbox_content {
  display: flex;
  font-family: Poppins;
  margin-top: 30px;
}
.input_button {
  margin-top: 30px;
}
#button {
  height: 30px;
  width: 100%;
  text-align: center;
  border: none;
  background-color: brown;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#result {
  color: red;
  font-weight: 600;
  position: relative;
  top: 25px;
}

.popup {
  width: 600px;
  background-color: rgb(249, 244, 244);
  color: blueviolet;
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0;
  text-align: center;
  padding: 40px 30px 30px;
  height: 300px;
  transform: translate(-50%, -50%), scale(0);
  transition: transform 4s, top 0.4s;
  visibility: hidden;
  margin-bottom: 300px;
}

h2,
p {
  color: black;
}

.popup > .icon {
  color: #00ff00;
  font-size: 50px;
}

.button_success {
  width: 100%;
  background-color: #00ff00;
  padding: 10px 0;
  margin-top: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.popup a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.open-slize {
  top: 50%;
  transform: translate(-50%, -50%), scale(1);
  visibility: visible;
}
input {
  border: 0 !important;
  border-bottom: 1px solid rgb(79, 79, 79) !important;
  padding-left: 0 !important;
  outline: 0;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
